[project]
	description = For all evolutionary computing homeworks, practices and stuff.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Juan Alberto Reséndiz Arteaga (pepo27)
[access "refs/for/refs/*"]
	read = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	push = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	label-Code-Review = -2..+2 group user/Juan Alberto Reséndiz Arteaga (pepo27)
	label-Verified = -1..+1 group user/Juan Alberto Reséndiz Arteaga (pepo27)
	rebase = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	removeReviewer = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	submit = group user/Juan Alberto Reséndiz Arteaga (pepo27)
[access "refs/heads/*"]
	read = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	create = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	push = +force group user/Juan Alberto Reséndiz Arteaga (pepo27)
	pushMerge = group user/Juan Alberto Reséndiz Arteaga (pepo27)
[access "refs/tags/*"]
	push = +force group user/Juan Alberto Reséndiz Arteaga (pepo27)
	pushTag = group user/Juan Alberto Reséndiz Arteaga (pepo27)
	pushSignedTag = group user/Juan Alberto Reséndiz Arteaga (pepo27)
